
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: green;
}

.container {
    position: relative;
    top: 160px;
    left: 450px;
    background-color: Lightgray;
    height: 60vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
