
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: green;
    display: flex;
}

.face {
    position: relative;
    top: 160px;
    left: 500px;
    background-color: Lightgray;
    height: 60vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.eyeL {
    position: relative;
    height: 20vh;
    width: 9vw;
    top: 100px;
    left: 80px;
    border-radius: 100%;
    background-color: white;
}

.eyeR {
    position: relative;
    height: 20vh;
    width: 9vw;
    top: -70px;
    left: 200px;
    border-radius: 100%;
    background-color: white;
}

.pupil1 {
    position: relative;
    height: 8vh;
    width: 3vw;
    top: 70px;
    left: 50px;
    border-radius: 100%;
    background-color: black;

}

.pupil2 {
    position: relative;
    height: 8vh;
    width: 3vw;
    top: 70px;
    left: 40px;
    border-radius: 100%;
    background-color: black;
}

.nose {
    position: relative;
    height: 20vh;
    width: 8vw;
    top: -100px;
    left: 150px;
    border-radius: 45%;
    background-color: orange;

}

.earL {
        position: relative;
        height: 40vh;
        width: 20vw;
        top: 120px;
        left: 280px;
        border-radius: 100%;
        background-color: white;
        z-index: -2;

}

.earR {
    position: relative;
    height: 40vh;
    width: 20vw;
    top: 120px;
    left: -300px;
    border-radius: 100%;
    background-color: white;
    z-index: -2;

}



