
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: green;
}

.container1 {
    position: relative;
    top: 160px;
    left: 450px;
    background-color: Lightgray;
    height: 60vh;
    width: 30vw;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.container2 {
    position: relative;
    height: 20vh;
    width: 9vw;
    top: 100px;
    left: 80px;
    border-radius: 100%;
    background-color: white;
}

.container3 {
    position: relative;
    height: 20vh;
    width: 9vw;
    top: -25px;
    left: 200px;
    border-radius: 100%;
    background-color: white;
}

.containerA {
    position: relative;
    height: 4vh;
    width: 2vw;
    top: 50px;
    left: 80px;
    border-radius: 100%;
    background-color: black;

}
