@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: black;
}

.logo a {
    display: flex;
    color: black;
   justify-content: center;
   align-items: center;
   margin: 0px;
   padding: 0px;

}

.container ul {
    list-style-type: none;
    padding: 20px;
    background-color: blue;
    text-align: center;
    margin-top: 0;
}

.container ul li {
    display: inline;
    margin-right: 20px;
}

.container ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container ul li a:hover {
    color: red;
}

.header {
    text-align: center;
    margin-top: 50px;
}

.heading h1 {
    font-size: 2.5em;
    color: black;
}

.heading h3 {
    font-size: 20px;
    color: black;
}

.image1 {
    width: 80%;
    display: block;
    margin: 20px auto;
}

#darkMode {
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

#darkMode:hover {
    background-color: blue;
}

.dark-mode {
    background-color: black;
    color: white;
}

.home-link {
    text-decoration: none;
    color: blue;
    font-size: 18px;
}

.home-link:hover {
    color: black;
}
